html {
  	  overflow-y: scroll;
}

.vep-branding {
  margin-top: 1.3em;
  width: 100%;
  background: $light-blue;
  background-size: contain;
  background-position: center;
  color:$white;
  max-height: 19vh;
}

.vep-branding img {
  max-width: 100%;
  max-height: 19vh;
  height: auto;
}

.logo img {
    max-width: 300px;
    max-height: 72px;
    margin: 1em 0 1.5em 0;
}

body {
  font-family: $font-family-uikit;
}

.body-content ul > li, .body-content ol > li {
  margin-bottom: .4em;
  font-size: $p-font-size;
}

@media only screen and (max-width: 768px) {
   h1 {
     font-size: $font-size-h3;
   }
}

 a {
  border-bottom: solid 1px $light-blue;
  color: $link-color;

}

 a:hover {
  background-color: $link-hover;
  border-color: transparent;
}

 a:focus,
 a:active
 {
  background-color: $link-hover;
  border-bottom: transparent;
  outline: 1px solid #313131;
  outline-offset: 1px;
}

.list-unstyled{
  padding-left: 2em;
  border-left: .4em solid #888;
  margin-bottom: 2.5em;
  font-weight: bold;
}

.list-unstyled-header{
  color: #6f6f6f;
  font-size:20px !important;
  font-weight: normal;

}

 .list-inline li a {
  margin: .4em 1em .8em .4em;
  color: $light-blue;
  font-weight: bold;
  font-size: $p-font-size;
}

.list-inline li a:focus {
  background-color: $link-hover;
  border-bottom: transparent;
  outline: 1px solid #313131;
  outline-offset: 1px;
}



.active {
  color: $brand-primary!important;
  background-color: $white!important;
  outline: none!important;
  border-bottom: transparent;
}

p {
  font-size: $p-font-size;
}

h1 {
  font-weight: bold;
  margin-bottom: 1.4em;
}

h2  {
  line-height: 1.4;
  font-weight: bold;
}


h10 {
  font-weight: bold;
  line-height: 0.8;

}

.news section {
  border-top: 5px solid $card-border;
  line-height: 1.6;
  font-family: $font-family-uikit;
}

.news img {
  width: 100%;
}

.news {
  margin: 0 0 10vh -2vh;
}
.news h2 {
  padding-bottom: 0.8em;
}

.panel-footer {
  border-top: $panel-footer-border-color;
  margin-top: 1.4em;
}

.panel-footer small {
  vertical-align: middle;
}

::-moz-selection {
  background: $text-highlight
}

::selection {
  background: $text-highlight
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

#top-nav {
  margin-top: 1em;
}

#top-nav .list-inline a {
  font-size: 1.3rem;
}

.panel-footer .list-inline a {
  font-size: 85%;
}

.news-headline {
  line-height: 1.5em;
}